*{
    padding: 0;
    margin: 0;
}

body{
    background-color: gray;
}

.barra{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    display: flex;
}

.foto{
    background: url(../../img/astronauta.jpg) no-repeat center;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: auto;
    border-radius: 50%;
}

.separador{
    height: 50px;
}

.lista{
    background-color: aliceblue;
    width: 60%;
    height: 60%;
    margin: 0 auto;
}

.lista h1{
    padding: 20px;
}

.barras{

}

.vuelta{
    padding: 30px;
    width: 20%;
    color: inherit;
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: url(../../img/Area.webp) no-repeat center;
    background-size: cover;
}

.vuelta a{
    text-decoration: none;
    font-size: 30px;
}

.vuelta:hover{
    background: linear-gradient(#4eb1dfcc, rgba(33,16,16,.8)),url(../../img/Area.webp) no-repeat center;
    background-size: cover;
    
}